# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# _config
/.agents
/.claude/agents
/sources
/plans
/skills

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage
/backend-node
/Workflows

# astro.js
.astro/
dist/
build/
dist.zip

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#python
__pycache__
.pytest_cache
*.pyc
.venv
venv
.env
env
.env.local
.env.test
.env.production
.env.development
.env.prod
.env.dev